.App {
  text-align: center;
  height: 500px;
  font-family: DM_Sans;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex-box{
  display: flex;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: visible;
}

.App-link {
  color: #61dafb;
}

.inputClass{
  width: 300px;
  height: 40px;
  color: #2b4f58;
  margin: auto;
}

.drop-list{
  font-size: 12px;
  width: 310px;
  background-color: white;
  color: black;
  height: 200px;
  overflow-y: scroll;
  overflow-x: visible;
  background-color: wheat;
  
}

.auto-margin{
  margin-top:20px
}

.searchlist{
  padding-left: 0;
  padding-top: 0;
  text-align:center;
  list-style-type:none;
}

.font-medium{
  font-size: 14px;
}

.font-small{
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
